PORT=3004
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017
AUTH_DB=auth_db
JWT_SECRET=change_this_jwt_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
RABBITMQ_URL=amqp://localhost:5672
